* {  
   margin: 0px;
   padding: 0px;
}
a {
   text-decoration: none;
   color: rgb(0, 199, 255);
}
a:hover {
    color: rgba(0, 199, 255, 0.5);
}
#header {  
   background: rgba(0, 0, 0, 1);
   color: rgba(255, 235, 0, 1); 
   font-family: "Nunito", sans-serif ;
   margin: 0%;
   border: 0%;
   padding: 0.5% 50% 0.5% 50%;
   position: fixed;
   top: 0%;
   z-index: 10;
} 
#headingbg1 {
    position:absolute;
    top: 10px;
    padding: 5% 0% 5% 0%;
    width: 100%;
    z-index: 1;
}
#heading1 {
    position: absolute;
    padding-left: 5%;
    padding-top: 9%;
    color: rgba(255, 255, 255, 1); 
    font-size: 3.5em;
    font-family: "Nunito", sans-serif ;
    z-index: 1;
}
#para1 {
    position: relative;
    top: 100px;
    padding-left: 5%;
    padding-top: 10%;
    width: 60%;
    color: rgba(255, 255, 255, 1); 
    font-size: 2em;
    font-family: "Nunito", sans-serif ;
    z-index: 1;
}
#link1 {
    position: relative;
    top: 130px;
    padding-left: 5%;
    padding-top: 10%;
    font-family: "Nunito", sans-serif ;
    font-size: 2em;
    z-index: 1;
}
#link2 {
    position: relative;
    top: 130px;
    padding-left: 5%;
    padding-top: 10%;
    font-family: "Nunito", sans-serif ;
    font-size: 2em;
    z-index: 1;
}
.navtools {
    color: rgba(230, 230, 230, 1); 
    font-family:"Nunito", sans-serif;
    position: absolute;
    top: 1.0%;
    z-index: 10;
}
#nav_games {
     position: absolute;
     left: 20%;
     z-index: 10;
}
#nav_coding {
      position: absolute;
      left: 40%;
      z-index: 10;
}         
                          
