* {  
                margin: 0px;
                padding: 0px;
              }
            #header {  
                background: rgba(0, 0, 0, 1);
                color: rgba(255, 235, 0, 1); 
                font-family:"Nunito", sans-serif ;
                margin: 0%;
                border: 0%;
                padding: 0.5% 33.66% 0.5% 33.66%;
                position: fixed;
                top: 0%;
                } 
            p { 
                font-family:"Nunito", sans-serif ;
                position: absolute;
                top: 10%
                padding: 5%;
                }
